body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.navbar {
    background: #fff;
    height: 110px;
    max-width: 100%;
    margin: 0 auto;
}

.logo {
    position: absolute;
    width: 30%;
    float: left;
}

.logo .menu-title {
    font-family: sans-serif;
    padding: 2%;
    margin: 0;
    width: 80%;
}

.logo a:hover {
    color: royalblue;
}

.logo a, a:visited {
    color: #000;
    text-decoration: none;
}

nav .nav-list {
    position: relative;
    float: right;
    margin: 0;
    width: 70%;
    padding: 20px 0;
    background: #fff;
    display: flex;
    list-style: none;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
}

nav .nav-list li {
    width: 20%;
}

nav .nav-list li:last-child {
    border-right: none; 
}

nav .nav-list li a {
    text-decoration: none;
    display: block;
    border-right:  1px solid rgba(0, 0, 0, .2);
}

nav .nav-list li a .icon {
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 10px;
}

nav .nav-list li a .icon .fa {
    width: 100%;
    height: 100%;
    line-height: 40px; /*Must same with .icon width*/
    font-size: 34px; /*The icon size*/
    transition: 0.5s;
    color: #000;
}

nav .nav-list li a .icon .fa.fa-home {
    content: url(../icons/tambahRekod.png) !important;
}

nav .nav-list li a .icon .fa.fa-file-text-o {
    content: url(../icons/kemaskiniRekod.png) !important;
}

nav .nav-list li a .icon .fa.fa-cogs {
    content: url(../icons/paparLaporan.png) !important;
}

nav .nav-list li a .icon .fa.fa-picture-o {
    content: url(../icons/import.png) !important;
}

nav .nav-list li a .icon .fa.fa-users {
    content: url(../icons/logKeluar.png) !important;
}

nav .nav-list li a:hover .icon .fa.fa-home:last-child {
    content: url(../icons/tambahRekodFilled.png) !important;
}

nav .nav-list li a:hover .icon .fa.fa-file-text-o:last-child {
    content: url(../icons/kemaskiniRekodFilled.png) !important;
}

nav .nav-list li a:hover .icon .fa.fa-cogs:last-child {
    content: url(../icons/paparLaporanFilled.png) !important;
}

nav .nav-list li a:hover .icon .fa.fa-picture-o:last-child {
    content: url(../icons/importFilled.png) !important;
}

nav .nav-list li a:hover .icon .fa.fa-users:last-child {
    content: url(../icons/logKeluarFilled.png) !important;
}

nav .nav-list li a:hover .icon .fa {
    transform: translateY(-110%);
}

nav .nav-list li a .name {
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
}

nav .nav-list li a .name span {
    display: block;
    position: relative;
    color: #000;
    font-size: 18px;
    line-height: 20px;
    transition: 0.5s;
}

nav .nav-list li a .name span:before {
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #006eff;
}

nav .nav-list li a:hover .name span {
    transform: translateY(20px); /*Same size with .name height*/
}

.nav-dropdown {
    position: absolute; 
    /* Absolute and relative positioning remove items from the normal flow of the document.*/
    /* So it will be placed relative to a position: relative element. You can think of the absolute element being nested within the relative element.*/
    z-index: 1;
    /* z-index: 1 guarantees that the dropdown will display on top of any content.*/
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    padding: 0;
    background: #fff;
    border-radius: 0 0 5px 5px;
    margin-top: 20px;
    display: none;
    width: 20%;
}

nav .nav-list li .nav-dropdown li {
    min-width: 100%;
    list-style: none;
}

nav .nav-list li .nav-dropdown li a {
    padding: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    margin: 5px;
    border-right: none;
}

nav .nav-list li .nav-dropdown li a:hover {
    background: lightskyblue;
    border-radius: 5px;
}

#nav-toggle {
    position: absolute;
    top: 40px;
    right: 30px;
    background: #AAAAAA;
    padding: 10px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

#nav-toggle:hover {
    background: #CCCCCC;
}

@media screen and (max-width: 1135px) {
    #nav-toggle {
        display: block;
    }

    .logo {
        width: 100%;
        text-align: center;
        padding: 0;
        position: relative;
    }

    .logo .menu-title {
        text-align: center;
        margin: 0;
        width: 100%;
    }

    nav .nav-list {
        position: relative;
        display: none;
        margin: 4% 0;
        padding: 0;
        float: left;
        width: 100%;
        z-index: 1;
    }

    nav .nav-list li {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    nav .nav-list li a {
        margin-bottom: 1%;
        margin-top: 1%;
    }

    nav .nav-list li .nav-dropdown {
        width: 100%;
        margin: 0;
        position: relative;
    }
}
